@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*----------Menu----------*/

.menu {
  background-image: url(../images/menu.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: fixed;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 999;
}

.menu-item {
  height: 60px;
  text-align: center;
}

.menu-item a  {
  color: #ffffff;
  text-decoration: none;
  height: 40px;
}

.menu-item span {
  display: block;
  text-transform: uppercase;
  font-family: "raleway";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  padding-top: 13px;
}

/*----------Main Front Page Content----------*/

  .main {
    margin: 0;
    padding-top: 3px;
  }

  .main-latest-news {
    width: 70%;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 0;
    border: solid #ffffff 8px;
    outline: solid #ffffff 1px;
    background-image: url(../images/bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-latest-news span {
    padding-top: 7px;
    display: block;
    color: #ffffff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .main-music {
    width: 30%;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 0;
    border: solid #ffffff 8px;
    outline: solid #ffffff 1px;
    background-image: url(../images/bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-music span {
    padding-top: 7px;
    display: block;
    color: #ffffff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .main-upcoming-events {
    width: 100%;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 0;
    border: solid #ffffff 8px;
    outline: solid #ffffff 1px;
    background-image: url(../images/bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-upcoming-events span {
    padding-top: 7px;
    display: block;
    color: #ffffff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .content {
    margin: 0;
    padding-top: 3px;
  }

  .latest-news {
    width: 70%;
  }

  .music {
    width: 30%;
  }

  .latest-news a {
    text-decoration: underline;
    color: #A88E2F;
  }

  .latest-news span {
    color: #D478C1;
  }

  .latest-news p {
    font-family: "Exo";
    font-size: 20px;
    font-weight: 500;
  }

  .upcoming-events {
    margin: 0;
    align-content: center;
  }

  .upcoming-events p {
    line-height: 70%;
    padding-top: 5px;
  }

  .upcoming-events a {
    text-decoration: none;
    font-size: 20px;
  }

  .upcoming-events span {
    line-height: 50%;
  }

/*----------Banner----------*/

.banner{
  padding-top: 60px;
}

.banner-image {
  background-image: url(../images/deftones_banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 340px;
}

/*----------Footer----------*/

footer {
  color: #fafafa;
  min-height: 70px;
  margin: 0;
  padding-top: 17px;
  background-image: url(../images/footer.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-item a {
  text-decoration: none;
}

.footer-item i {
  font-size: 30px;
  color: #ffffff
}

/*----------Hover----------*/

.footer-item i:hover {
  color: rgb(176, 50, 113);
  transition: all 0.20s ease-in-out;
  -moz-transition: all 0.20s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}

.hvr-shadow:hover {
  color: rgb(176, 50, 113);
  transition: all 0.20s ease-in-out;
  -moz-transition: all 0.520s ease-in-out;
  -webkit-transition: all 0.20s ease-in-out;
  -o-transition: all 0.20s ease-in-out;
}