@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*-----------Color-----------*/

.ui-menu-color {
  background-color: #bdbdbd;
}

.ui-main-color-latest-news {
  background-color: #bdbdbd
}

.ui-main-color-music {
  background-color: #bdbdbd;
}

/*----------Header----------*/

header {
  background-color: #bdbdbd;
}

/*----------Menu----------*/

.menu-item {
  height: 60px;
  text-align: center;
}

.menu-item a  {
  color: #ffffff;
  text-decoration: none;
  height: 40px;
}

.menu-item span {
  display: block;
  text-transform: uppercase;
  font-family: "raleway";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  padding-top: 13px;
}

/*----------Main----------*/

  info {
    margin: 0;
  }

  #info li {
    padding: 0;
  }

  .main-latest-news {
    width: 70%;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 0;
    border: solid #ffffff 8px;
  }

  .main-latest-news span {
    padding-top: 7px;
    display: block;
    color: #ffffff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }

  .main-music {
    width: 30%;
    text-decoration: none;
    height: 60px;
    text-align: center;
    padding: 0;
    border: solid #ffffff 8px;
  }

  .main-music span {
    padding-top: 7px;
    display: block;
    color: #ffffff;
    font-family: "Exo";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
  }

/*----------Banner----------*/

.banner-image {
  background-image: url(../images/placeholder-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;

}

/*----------Footer----------*/

footer {
  background-color: #bdbdbd;
  color: #fafafa;
  min-height: 70px;
  margin: 0;
  padding-top: 17px;
}

.footer-item a {
  text-decoration: none;
}

.footer-item i {
  font-size: 30px;
  color: #ffffff
}

/*----------Hover----------*/

.footer-item i:hover {
  color: rgb(0, 208, 255);
  transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
}

.hvr-shadow:hover {
  color: rgb(0, 208, 255);
  transition: all 0.50s ease-in-out;
  -moz-transition: all 0.50s ease-in-out;
  -webkit-transition: all 0.50s ease-in-out;
  -o-transition: all 0.50s ease-in-out;
}